<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Welcome to Home <%= user.username %></h1>
  <a href="/logout">Log out</a>

  <% if (!membershipStatus) { %>
    <form action="/join" method="POST">
      <label for="passcode">Enter secret passcode to become a member:</label>
      <input type="text" name="passcode" id="passcode">
      <button type="submit">Submit</button>
    </form>
  <% } else { %>
    <p>You are currently a club member!</p>
  <% } %>

  <% if (error) { %>
    <p><%= error %></p>
  <% } %>
</body>
</html>