<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
</head>
<body>
  <h1>Sign up or Login</h1>
  <a href="/signup">Sign up</a>
  <p>
  <a href="/login">Log in</a>
</body>
</html>