<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
</head>
<body>
  <h1>Log in!</h1>
  
  <% if (error.length > 0) { %>
    <p><%= error[0] %></p>
  <% } %>

  <form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Log in</button>
  </form>
  <p> Don't have an account? <a href="/signup">Sign up!</a></p>
</body>
</html>